/* Reset default body margin */
body {
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  height: 100px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}
/* Header navigation */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  height: 100px;
}

.header-nav button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #469165;
  font-style: Semi Bold;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  padding: 12px 16px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  display: inline-block;
  padding: 12px 16px;
  width: auto;
  height: 24px;
  text-decoration: none;
  color: black;

  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 152%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

/* hero-secction */

.hero {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 60px 20px;
  background-image: url(./Images/background-image.jpg);
  background-size: cover;
}
.hero-content {
  padding: 100px 0;
}

.static-rings {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #469165;
}

.ring-3 {
  width: 16px;
  height: 16px;
  opacity: 0.2;
}
.ring-2 {
  width: 28px;
  height: 28px;
  opacity: 0.4;
}
.ring-1 {
  width: 44px;
  height: 44px;
  opacity: 0.15;
}

.core-dot {
  width: 12px;
  height: 12px;
  background: #469165;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0 0 12px rgba(70, 145, 101, 0.7);
}
.hero .early-access {
  width: 270px;
  height: 44px;
  color: #469165;
  background-color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  padding: 6px 20px;
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  padding-top: 0px;
  margin-bottom: 120px;
  margin: 0 auto;
}
.hero h2 {
  font-style: Bold;
  font-size: 72px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin: 40px 0;
}

.hero h2 span {
  color: #30b868;
}

.solution-parent {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 0;
}

.hero p {
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-style: Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}

.hero-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.hero-btn-1 {
  width: 251px;
  height: 52px;

  padding: 12px 16px 12px 16px;
  background: #30b868;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  font-size: medium;
}

.hero-btn-2 {
  width: 251px;
  height: 52px;
  color: #ffffff;
  width: 198px;
  height: 52px;
  background: rgba(114, 112, 112, 0.2);
  border: none;
  border-radius: 4px;
  font-size: medium;

  padding: 12px 16px 12px 16px;
}

/* notes section  */

.notes-section {
  background-color: #fbfbfb;
}

.notes-section h2 {
  color: #001931;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-top: 40px;
}

.notes-section h6 {
  color: #627382;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.notes-alls {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0 80px 0;
   flex-wrap: nowrap; 
  
}
.note-item {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 280px;
  border-radius: 8px 8px 0px 8px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}

img.icon-img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background: rgba(249, 85, 85, 1);
  border-radius: 50%;
  padding: 10px;
}

.note-text h3 {
  color: #001931;

  font-style: Semi Bold;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.note-text p {
  color: #627382;

  font-family: Inter;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}
